/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {min-height: 100%;}
body {font: 300 normal 16px/1.2 'Ubuntu', sans-serif; color: #000; height: auto; min-height: 100%; position: relative;}

body * {outline: none !important;}
.workarea p {margin: 0 0 20px;line-height: 1.5;}
.workarea a {color: #0099cc; text-decoration: underline; line-height: 1.2;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.workarea a:hover {text-decoration: none; color: #0099cc; }
.workarea h1 {font-size: 52px;margin: 0 0 30px;font-weight: 300;}
.workarea h2 {font-size: 42px;margin: 0 0 18px;font-weight: 300;}
.workarea h3 {font-size: 36px;margin: 0 0 18px;font-weight: 300;}
.workarea h4 {font-size: 24px;margin: 0 0 6px;font-weight: 300;}
.workarea h1 big, .workarea h2 big, .workarea h3 big, .workarea h4 big,
.workarea h1 small, .workarea h2 small, .workarea h3 small, .workarea h4 small,
.workarea h1 span, .workarea h2 span, .workarea h3 span, .workarea h4 span {color: #cdd1d7;}
.workarea blockquote {background: #e6ecf0;display: block;padding: 27px 34px 24px;font-size: 24px;margin: 0 0 26px;}
.workarea img {max-width: 100%;}
.workarea table {
    width: 100%;
    margin: 25px 0 20px;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.15);
    box-shadow: 0 0 7px rgba(0,0,0,.15);
    }
.workarea table thead th {background: #7fcce5; color: #fff; padding: 11px 0 12px 24px; text-align: left; font-weight: normal; vertical-align: middle;}
.workarea table td {padding: 14px 5px 14px 21px;vertical-align: top;}
.workarea .no-touch table tr:hover td {background: #f2f5f7;}
.workarea ol {padding: 0 0 0 48px;margin: 0 0 33px;counter-reset: myCounter;}
.workarea ol li {margin: 0 0 20px;position: relative;list-style: none;}
.workarea ol li:before {position: absolute; left: -43px; width: 30px; color: #0099cc; text-align: right;
    counter-increment: myCounter;
    content:counter(myCounter);}
.workarea ol li:after {position: absolute; left: -13px; top: 0; color: #0099cc; content: '.'}
.workarea ul {padding: 0 0 0 50px; margin: 0 0 20px;}
.workarea ul li {margin: 0 0 15px;position: relative;list-style: none;}
.workarea ul li:before {content: ' '; position: absolute; top: 11px; left: -20px; width: 6px; height: 6px; background: #09c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
.page-txt li {line-height: 1.5}
.workarea input[type='checkbox'] {position: absolute; left: -10000px;}
.workarea input[type='checkbox'] + label {padding-left: 26px; position: relative; font-weight: normal; cursor: pointer; margin: 0 25px 5px 0;}
.workarea input[type='checkbox'] + label:before {position: absolute;left: 0;top: 5px;content: ' ';width: 15px;height: 15px;background: url(../img/them/checkbox.png) 0 0 no-repeat;}
.workarea input[type='checkbox']:checked + label:before {background-position: 100% 0;}

.workarea input[type='radio'] {position: absolute; left: -10000px;}
.workarea input[type='radio'] + label {padding-left: 26px; position: relative; font-weight: normal; cursor: pointer; margin: 0 25px 5px 0;}
.workarea input[type='radio'] + label:before {position: absolute;left: 0;top: 5px;content: ' ';width: 16px;height: 16px;background: url(../img/them/radio.png) 0 0 no-repeat;}
.workarea input[type='radio']:checked + label:before {background-position: 100% 0;}
.workarea input[type='checkbox']:hover + label, .workarea input[type='radio']:hover + label {opacity: 0.7;}

.select-st {width: 100%;}

.form-control {height: 48px; background: #fff; padding-left: 20px; padding-top: 5px; padding-bottom: 7px; font: 300 normal 18px 'Ubuntu', sans-serif; border: 0;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.15);
    box-shadow: 0 0 7px rgba(0,0,0,.15);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form-group label {font-size: 18px; margin: 0 0 10px; font-weight: 300;}
.help-block {color: #505050;font-size: 14px;line-height: 1.2;margin-top: 14px;}
.form-group {margin-bottom: 49px;}

.btn-wrap {display: inline-block; position: relative;}
.btn {text-decoration: none !important; color: #fff !important; outline: none !important; padding: 16px 39px; background: #09c; font-family: 'Ubuntu', sans-serif;
    font-size: 24px; font-weight: 300; position: relative; z-index: 2; border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    }
.btn:active {background: #0089b6 !important;}
.btn-shadow {position: absolute; content: ' '; z-index: 1; left: 15px; right: 15px; bottom: 0px; height: 20px; background: rgba(58, 215, 230, 0.75);
    -webkit-box-shadow: 0px 10px 20px rgba(58, 215, 230, 0.75);
    -moz-box-shadow:    0px 10px 20px rgba(58, 215, 230, 0.75);
    box-shadow:         0px 10px 20px rgba(58, 215, 230, 0.75);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.no-touch .btn:hover + .btn-shadow {bottom: 5px; left: 0; right: 0;
    -webkit-box-shadow: 0px 10px 60px rgba(58, 215, 230, 0.75);
    -moz-box-shadow:    0px 10px 60px rgba(58, 215, 230, 0.75);
    box-shadow:         0px 10px 60px rgba(58, 215, 230, 0.75);
}
.btn:active + .btn-shadow {bottom: 0px; left: 0; right: 0;
    -webkit-box-shadow: 0px 2px 10px rgba(58, 215, 230, 0.75);
    -moz-box-shadow:    0px 2px 10px rgba(58, 215, 230, 0.75);
    box-shadow:         0px 2px 10px rgba(58, 215, 230, 0.75);
}
.btn.btn-min {padding: 13px 33px 14px;font-size: 16px;} 
.btn.btn-white {
    background: #fff;
    padding: 13px 33px 14px;
    font-size: 16px;
    color: #000 !important;
    -webkit-box-shadow: inset 0px 0px 0 2px rgba(0, 153, 204, 1);
    -moz-box-shadow:    inset 0px 0px 0 2px rgba(0, 153, 204, 1);
    box-shadow:         inset 0px 0px 0 2px rgba(0, 153, 204, 1);
    } 
.no-touch .btn.btn-white:hover {background: #0099cc; color: #fff !important;}
.btn.btn-white:active {background: #0089b6; color: #fff !important;}
body .workarea .btn.btn-inactive, body .workarea .btn.btn-inactive.btn-white {background: #c2cccf !important; color: #dae0e2 !important; cursor: default !important;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;}

body .btn--about {background: #00d8ff; font-size: 18px; height: 39px; line-height: 38px; padding: 0 23px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;}
body .btn--about:hover {background: #00c8ef;}
body .btn--about:active {background: #00aed4;}
body .lnk-video {position: relative; margin-left: 55px; top: 6px; color: #fff !important;}
body .lnk-video:before {content: ' '; position: absolute; top: -4px; left: -55px; width: 41px; height: 31px; background: url(../img/them/ico-play.png) 0 0 no-repeat;}


.file {font-size: 24px; margin: 0 0 20px;}
.file span {color: #a3a3a3;}


body .video {margin: 0 0 20px;}
body .video iframe {border: 0;}
body .signature {color: #8d8d8d;margin-top: 7px;}

.head {margin: 0 0 25px;}
.head__logo {float: left; padding: 20px 0 0;}
.head__logo-img {width: 108px; height: 72px; background: url(../img/them/logo.png) 0 0 no-repeat; display: inline-block;}
.head__menu {padding: 0;margin: 0 0 0 216px;padding: 29px 0 3px;position: relative;z-index: 10;}
.head__menu ul {display: block; padding: 0; margin: 0 -20px 0 -16px;}
.head__menu-wrap {border-bottom: 1px solid #0099cc; padding-bottom: 12px;}
.head__menu li {list-style: none;font-weight: 400;display: inline-block;position: relative;margin-right: 10px;margin-bottom: 20px;}
.head__menu li:before {display: none;}
.head__menu li:last-child {margin-right: 0;}
.head__menu li a, .head__menu li span {color: #000; display: inline-block; height: 30px; line-height: 29px; padding: 0 16px; text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.main .head__menu li a, .main .head__menu li span {color: #fff;}
.no-touch .head__menu li a:hover, .head__menu li span {background: #0099cc; color: #fff;}


.head__menu li ul {position: absolute; top: 29px; background: #fff;  padding: 14px 10px 15px 15px; margin: 0; z-index: 20; min-width: 170px; display: none;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.15);
    box-shadow: 0 0 7px rgba(0,0,0,.15); }

.head__menu li ul li {display: block; margin: 0 0 18px;}
.head__menu li ul li:last-child {margin-bottom: 0;}
.head__menu li ul li a {padding: 0; height: auto; line-height: 1.2;}

.no-touch .head__menu li ul li a:hover {background: none; color: #0099cc;}

.workarea .submenu {padding: 0; width: 212px; background: #fff; padding: 20px 0; float: left; margin-left: -30px;
    -webkit-box-shadow: 0 0 24px rgba(0,0,0,.06);
    -moz-box-shadow: 0 0 24px rgba(0,0,0,.06);
    box-shadow: 0 0 24px rgba(0,0,0,.06);}
.workarea .submenu li {list-style: none;position: relative;margin: 0px 0 0px;}
.workarea .submenu li:before {display: none;}
.workarea .submenu li a {display: block;padding: 11px 13px 11px 30px;text-decoration: none;color: #000;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.workarea .submenu li > span {display: block;padding: 11px 13px 11px 30px;text-decoration: none;color: #0099cc;}
.no-touch .workarea .submenu li a:hover {background: #f2f5f7; color: #737678;}
.workarea .submenu li.open-act > a {color: #0099cc;}
.workarea .submenu li.active:after {content: ' '; position: absolute; top: 18px; left: 10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;}
.workarea .submenu li.open:after {content: ' '; position: absolute; top: 17px; left: 10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 0;
    border-bottom: 4px solid #333;}
.workarea .submenu li ul {padding: 0;display: none;margin: 0 0 13px;}
.workarea .submenu li ul li {margin: 0px 0 8px;}
.workarea .submenu li ul a {padding: 0px 5px 0px 45px;color: #737678;}
.workarea .submenu li ul span {padding: 0px 5px 0px 45px;color: #0099cc; display: block;}


.container__body {margin: 0 216px 0 216px;}
.workarea .crubs {padding: 0;margin: 0 0 23px;}
.workarea .crubs li {list-style: none;display: inline-block;padding: 0 15px 0 0;margin: 0 11px 0 0;color: #a3a3a3;position: relative;}
.workarea .crubs li:before {display: none;}
.workarea .crubs li:after {content: ' '; position: absolute; top: 7px; right: 0; 
    border-top: 3px solid transparent;
    border-left: 3px solid #7f7f7f;
    border-bottom: 3px solid transparent;}
.workarea .crubs li:last-child:after {display: none;}
.workarea .crubs li a {text-decoration: none; color: #a3a3a3; border-bottom: 1px solid #a3a3a3; border-color: transparent;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.no-touch.workarea  .crubs li a:hover {text-decoration: none; border-bottom: 1px solid #0099cc;}
.workarea .crubs li span {border-bottom: 1px solid #a3a3a3;}
.article {margin: 32px 0 27px;overflow: hidden;}
.article__img {float: left; width: 75px; padding-top: 2px;}
.article__img img {max-width: 75px; vertical-align: top;}
.article__wrap {margin: 0 0 0 95px;}
.article__wrap p {margin: 0;}
.article__name {margin: 0 0 10px; color: #8d8d8d;}

.persona {border-top: 1px solid #c9d4dc;border-bottom: 1px solid #c9d4dc;margin-bottom: -1px;padding: 29px 0 30px;}
.persona__img {float: left; width: 164px;}
.persona__wrap {margin: -8px 0 0 210px;min-height: 165px;}
.persona__wrap-txt {min-height: 85px;}
.persona__wrap-txt p {margin: 0;}
.persona__wrap p {line-height: 1.2;}
.persona__header {font-size: 36px;margin: 0px 0 23px;}
.persona__detals-lnk {margin: 0;}
.persona__detals-lnk a {color: #000; text-decoration: none; border-bottom: 1px dotted #0099cc; position: relative;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.no-touch .persona__detals-lnk a:hover {border-color: transparent;}
.persona__detals-lnk a:before {content: ' '; position: absolute; top: 9px; right: -10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #000;}
.persona__detals-lnk .active a:before {
    border-top: 0;
    border-bottom: 3px solid #000;
}
.persona__detals {margin: 0;display: none;}
.persona__detals p {margin: 0; padding: 20px 0 0;}
.modal-dialog {width: 416px;}
.modal-content {position: relative;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.15);
    box-shadow: 0 0 7px rgba(0,0,0,.15);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
}
.modal-content:before {position: absolute; content: ' '; top: 100%; left: 0; right: 0; height: 35px; background: url(../img/them/modal-shadow.png) 0 0 no-repeat; background-size: 100% 100%; z-index: 1;}
.modal-header {border: 0; padding: 19px 30px 13px 35px; font-size: 24px;}
.modal-footer {border: 0; padding: 30px 20px 40px 35px; text-align: left;}
.modal-body {padding: 0 20px 0 35px;}
.modal-dialog .close {position: absolute; top: 20px; right: 20px; width: 13px; height: 13px; background: url(../img/them/close.png) 0 0 no-repeat; opacity: 1; font-size: 0;}
.no-touch .modal-dialog .close:hover {opacity: 0.7;}
body .fancybox-skin .fancybox-close {top: 15px; right: 15px; width: 13px; height: 13px; background: url(../img/them/close.png) 0 0 no-repeat; opacity: 1;}
body .fancybox-skin .fancybox-close:hover {opacity: 0.7;}


.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #ff000a;
}
.has-error .form-control {
    border: 0; color: #ff000a;
    -webkit-box-shadow: 0 0 0 1px #ff000a;
    -moz-box-shadow: 0 0 0 1px #ff000a;
    box-shadow: 0 0 0 1px #ff000a;
}
.workarea .tab {padding: 0; margin: 0 0 30px;}
.workarea .tab li {display: inline-block; margin: 0; font-size: 24px; list-style: none;}
.workarea .tab li:before {display: none;}
.workarea .tab li a {display: inline-block; padding: 0 12px 7px; border-bottom: 5px solid #0099cc; border-color: transparent; text-decoration: none; color: #000;}
.workarea .tab li.active a {border-bottom: 5px solid #0099cc;}

.pager {overflow: hidden;text-align: center;margin: 60px 80px;}
.pager__length {color: #8d8d8d; float: left; font-size: 14px; line-height: 20px;}
.pager__wrap a {margin: 0 6px; color: #000; display: inline-block; height: 20px; vertical-align: middle; padding: 0 6px; text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.no-touch .pager__wrap a:hover {color: #0099cc; border: 0 !important;}
.pager__wrap span {margin: 0 6px; color: #fff; background: #0099cc; display: inline-block; height: 20px; line-height: 20px; vertical-align: middle; padding: 0 6px;}
.pager__wrap .pager__lnk-start {text-decoration: none; color: #000; border-bottom: 1px solid #0099cc; margin: 0 20px; padding: 0;}
.pager__wrap .pager__lnk-final {text-decoration: none; color: #000; border-bottom: 1px solid #0099cc; margin: 0 20px; padding: 0;}

.carousel {margin: 0 0 20px;}
.carousel .owl-dots {position: absolute; left: 0; right: 0; bottom: 30px; text-align: center; z-index: 10;}
.carousel .owl-dot {display: inline-block; margin: 0 5px 0 6px; background: #fff; width: 11px; height: 11px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;}
.carousel .owl-dot.active {background: #0099cc;}
.carousel .owl-prev, .carousel .owl-next {position: absolute; top: 50%; margin-top: -20px; width: 21px; height: 40px; z-index: 20; font-size: 0;}
.no-touch .carousel .owl-prev:hover, .no-touch .carousel .owl-next:hover {opacity: 0.6}
.carousel .owl-prev.disabled, .carousel .owl-next.disabled {display: none;}
.carousel .owl-prev {background: url(../img/them/owl-prev.png) 0 0 no-repeat; left: 20px;} 
.carousel .owl-next {background: url(../img/them/owl-next.png) 0 0 no-repeat; right: 20px;}
.panel-lite { 
    -webkit-box-shadow: none;
    box-shadow: none; }
.panel-group .panel {margin-bottom: 10px;border-radius: 4px;}
.panel-lite .panel-heading {padding: 0;}
.panel-lite h4 {margin: 0;}
.panel-lite h4 a {color: #000; border-bottom: 1px dashed #0099cc; text-decoration: none; position: relative;}
.no-touch .panel-lite h4 a:hover {border-color: transparent;}
.panel-lite h4 a:after {content: ' '; position: absolute; margin-top: 9px; right: -20px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333;}
.panel-lite h4 a.collapsed:after {
    border-bottom: 0;
    border-top: 5px solid #333;
}
.panel-lite .panel-body, .panel-lite .panel-body {border: 0 !important;}
.panel-lite .panel-body {padding: 0;}
.panel-lite .panel-heading {margin-bottom: 15px;}

.owl-carousel-min {margin: -10px; padding: 0 112px;}
.article-item__img {margin: 0 0 15px;}
.article-item__img img {vertical-align: top;}
.article-list .article-item__img {margin: 0 0 6px;}
.article-list .article-item__img img {width: 100%;}
.article-list {margin: 0 -5px 42px;}
.article-list > div {padding: 0 5px;}
.publication .article-item h4 {margin: 0 0 11px !important;font-size: 16px;line-height: 1.5;}
.article-item__date {color: #a3a3a3;margin: 8px 0 11px;}
.owl-carousel__logo {height: 110px; background: #fff; padding: 10px; text-align: center; margin: 7px 7px 12px; vertical-align: middle;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.15);
    box-shadow: 0 0 7px rgba(0,0,0,.15); }
.owl-carousel__logo img {max-width: 100%; max-height: 100%; vertical-align: middle; width: auto !important; height: auto !important; display: inline-block !important;}
.owl-carousel-min p {margin: 0 7px;} 
.owl-carousel-min .owl-prev, .owl-carousel-min .owl-next {top: 40px; margin-top: 0;}
.owl-carousel-min .owl-dots {display: none;}
.owl-carousel-min .owl-prev {left: 0;}
.owl-carousel-min .owl-next {right: 0;}

.footer-padding {clear: both; height: 161px;}
.footer {position: absolute;left: 0;width: 100%;bottom: 0;background: #1eb3fc;padding: 48px 0 0;}
.footer__logo {float: left;margin: 0 58px 0 0;}
.footer__copyright {float: left; position: relative; color: #fff; line-height: 20px;}
.footer__copyright em {position: absolute;right: 100%;margin-right: 6px;}
.footer-right {float: right;padding: 0 0 0;width: 311px;}
.footer__search {margin: 0 0 46px;position: relative;}
.footer__search input[type='text'] {border: 1px solid #5dcaff; width: 100%; height: 33px; background: none; padding: 0 27px 0 15px; outline: none !important;
    font: 300 normal 16px 'Ubuntu', sans-serif; color: #fff;}
.footer__search input[type='submit'] {position: absolute; top: 1px; right: 1px; width: 30px; height: 31px; font-size: 0; background: url(../img/them/btn-search.png) 0 0 no-repeat; border: 0;}

.footer-bottom__develop {float: right;}
.footer-bottom__develop a {text-decoration: none;  color: #fff;}
.footer-bottom__develop a:hover {text-decoration: underline;}
.footer__menu {margin: 0 339px 0 215px;display: block;font-size: 0;}
.footer__menu ul {padding: 0; display: block; vertical-align: top; }
.footer__menu li {margin: 0 0 11px; list-style: none; display: inline-block; width: 33.33%; vertical-align: top; font-size: 16px;}
.footer__menu li:before {display: none;}
.footer__menu li a {text-decoration: none; color: #fff;}
.no-touch .footer__menu li a:hover {text-decoration: underline;}
.footer__soc {padding-bottom: 50px;}
.footer__soc span {display: inline-block; vertical-align: top; color: #0e68a8; font-size: 16px; padding-top: 10px;}
.footer__soc ul {padding: 0; margin: 0; display: inline-block; vertical-align: top;}
.footer__soc ul li {display: inline-block; vertical-align: top; margin: 0 0 0 15px;}
.footer__soc ul li a {display: block; width: 40px; height: 40px; border: 2px solid #42c1ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.footer__soc ul li a:hover {border-color: #fff;}
.footer-bottom {clear: both; background: #1da1e2; margin: 30px 0 0; padding: 13px 0 13px; font-size: 16px; color: #fff; font-size: 16px;}
.footer-bottom__copyright {float: left;}

.menu-btn {display: none; position: absolute; top: 32px; right: 15px; width: 35px; height: 23px; border-top: 5px solid #0099cc; border-bottom: 5px solid #0099cc;}
.menu-btn:before {position: absolute; content: ' '; top: 4px; left: 0; right: 0; border-top: 5px solid #0099cc;}
.mob-menu-bg {position: absolute; display: none; z-index: 100; background: #000; opacity: 0.5; top: 0; left: 0; height: 100%; width: 100%;}
.menu-btn-close {position: absolute; display: none; z-index: 111; top: 30px; right: 20px; width: 23px; height: 23px; box-shadow: 0 0 0 10px #fff; background: url(../img/them/menu-btn-close.png) 0 0 no-repeat;}

.main-baner {border-top: 1px solid #01b1da;position: relative;text-align: center;overflow: hidden;margin: 0 0 35px;}
.main-baner__bg {position: absolute; top: 0; width: 1500px; height: 577px; left: 50%; margin-left: -750px; z-index: -1;}

.main-baner__img {padding: 60px 0 85px;}
.main-baner h1 {margin: 0 0 17px;font-weight: bold;}
.main-baner p {font-size: 24px;color: #000;margin: 0 auto 54px;display: block;max-width: 590px;line-height: 1.3;}
.workarea .main-baner__menu {display: inline-block; padding: 0; margin: 0 0 60px; font-size: 0; position: relative;}

.workarea .main-baner__menu li {margin-bottom: 0;display: inline-block;font-size: 18px;position: relative;z-index: 2;}
.workarea .main-baner__menu li:before {display: none;}
.workarea .main-baner__menu li a {display: block;margin: 0 1px;height: 47px;line-height: 47px;text-decoration: none;padding: 0 20px;background: #01b4dc;color: #fff;font-size: 18px;}
.workarea .main-baner__menu li a:hover {color: #fff; background: #0089b6;}

.main .head {margin-bottom: 0; background: #1eb3fc;}
.main .head__logo-img {display: none;}
.main .head__menu-wrap {border: 0; padding: 0;}
.main .head__menu {margin: 0;}
.main .head__menu ul {text-align: center;padding-top: 14px;margin: 0;padding-bottom: 4px;}
.main .head__menu ul li {margin: 0px 14px 10px;}
.main .head__menu {padding: 0;}
.main h2 {font-weight: bold;margin-bottom: 24px;}
h2 .lnk-all {font-size: 16px; margin-left: 30px; color: #1eb3fc; text-decoration: none;}
.announce__list {padding-right: 20px;}

.news {margin-bottom: 26px;padding-bottom: 30px;border-bottom: 1px solid #e0e0e0;}
.news__date {margin: 0 0 16px;font-size: 0;}
.news__date span {background: #f2f2f2; display: inline-block; height: 21px; line-height: 21px; vertical-align: top; font-size: 16px; padding: 0 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}
.news p a {text-decoration: none;color: #1eb3fc;}
.news p a:hover {color: #0099cc;}

.main-wrap {padding: 0px 0 43px;}
.partners {max-width: 930px;margin: 0 auto;}
.partners h2 {text-align: center;margin: 0 0 53px;font-weight: 700;}
.partners__list {text-align: center; margin: 0 0 72px;}
.partners__item {display: inline-block; margin: 0 12px; width: 186px; text-align: left;}
.partners__img {margin-bottom: 10px;}
.about {padding: 45px 0 55px;max-width: 830px;margin: 0 auto;color: #fff;text-align: center;}
.about h2 {font-size: 42px;margin: 0 0 35px;font-weight: bold;}
.about-bg {background: #1b7ed4 url(../img/them/about-bg.jpg) 100% 0 no-repeat; margin: 0 0 30px;}
body .about__lnk {padding: 0; margin: 0 0 74px; color: #fff; text-align: center;}
body .about__lnk li {display: inline-block; vertical-align: top; margin: 0 43px;}
body .about__list {padding: 0; margin: 0 0 20px; font-size: 0; text-align: center; color: #fff;}
body .about__list li {list-style: none; display: inline-block;  padding: 0 20px; font-size: 18px;}
.about__list li h4 {font-size: 24px; font-weight: 400; margin: 0 0 5px;}
.about__list li h4 strong {font-size: 42px;}
.main-news {margin: 0 -4px 16px; font-size: 0;}
.main-news__item {display: inline-block; width: 50%; font-size: 18px; padding: 0 4px 8px; vertical-align: top;}
.main-news__item a {text-decoration: none; color: #fff;}
.main-news__img {background: #0e68a8; display: block;}
.main-news__img img {vertical-align: top; width: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;}
.main-news__item a:hover img {opacity: 0.7;}
.main-news__footer {display: block; background: #0e68a8; padding: 30px 20px 10px 40px; min-height: 240px;}
.main-news__date {display: block;margin: 0 0 19px;color: #1eb3fc;}
.ain-news__txt {color: #fff;}

.advantages {position: relative;text-align: center;margin: 10px 0 43px; display: block;}
.advantages__item {display: inline-block;width: 210px;padding: 0 15px;vertical-align: top;text-align: left;font-size: 16px;position: relative;z-index: 2;line-height: 1.2;}
.advantages__item span {display: table-cell; padding-top: 60px; vertical-align: top;}
.advantages__img {margin: 0 0 19px; display: table-cell; vertical-align: top; width: 90px;}
.advantages-wrap {background: #f2f2f2;padding: 27px 0 10px;margin-top: 5px;}
.advantages-wrap h2 {text-align: center;font-weight: bold;margin-bottom: 54px;}
.advantages-wrap h2 span {font-size: 42px;}

.baner-lnk {margin: 0 0 10px;}
.baner-lnk > div {padding: 0;}
.baner-lnk img {width: 100%;}

.advantages-inner {margin: 40px 0 70px;}

.video-open {margin: 0 0 13px;position: relative;}
.video-open_img {width: 100%;}
.video-open__play {position: absolute; top: 50%; left: 50%; margin: -48px 0 0 -48px;}
.video-open__play:before {content: ' '; position: absolute; top: 0; left: 0; width: 97px; height: 97px; background: url(../img/them/play.png) 0 0 no-repeat; opacity: 1;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0 3px 3px #fff;
    -moz-box-shadow: inset 0px 0 3px 3px #fff;
    box-shadow: inset 0px 0 3px 3px #fff; }
.video-open__play:after {content: ' '; position: absolute; top: 0; left: 0; width: 97px; height: 97px; background: url(../img/them/play.png) -97px 0 no-repeat; opacity: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0 3px 3px #0099cc;
    -moz-box-shadow: inset 0px 0 3px 3px #0099cc;
    box-shadow: inset 0px 0 3px 3px #0099cc; }
.video-open__play:hover:before {opacity: 0;}
.video-open__play:hover:after {opacity: 1;}

.article-box {border-bottom: 1px solid #c9d4dc;padding: 0 0 33px;margin: 0 0 26px;}
.article-box h2 {margin-bottom: 28px;}
.article-box h3 {margin-bottom: 11px;}
.article-box:last-child {border: 0;}
.workarea .article-box__links {padding: 0;margin: 16px -30px 0 0;}
.workarea .article-box__links li {display: inline-block; margin: 0 30px 5px 0;}
.workarea .article-box__links li:before {display: none;}

.page-hader {margin: 0 0 47px;}

.announce {margin: 0 0 46px;}
.announce__date {color: #a3a3a3;margin: 0 0 10px;}

.publication {float: right;width: 215px;margin-right: -218px;padding-bottom: 30px;margin-top: -4px;}
.publication h4 {margin-bottom: 18px;}
.publication .article-item {margin: 0 0 42px;}
.article-all {margin: 35px 0 0;}

.partners__list {padding: 0 20px;}

.about__wrap {position: relative;}
.partners__list .owl-dots {display: none !important;}


.main .container__body {margin: 0;}
.main .submenu, .main .crubs {display: none;}
.main .workarea > .container {width: auto !important; padding: 0 !important;}
.main .advantages-inner {display: none;}

.owl-carousel.advantages .owl-item img {width: auto !important; display: inline !important;}

.language {float: right; font-size: 14px; height: 30px; line-height: 30px; margin-top: -1px;}
.language img {margin: -2px 3px 0 0; vertical-align: middle;}
.language a {color: #fff; text-decoration: none;}
.main .language {margin-top: 11px;}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
